
.App {
  text-align: center;
  /* overflow-x: hidden; */
  /* position: absolute; */
}
#giftimg{


  width:780px;
  height:600px;
  float: right;
  position: relative;
  
  left:430px;

   
}

.topbtn{
  -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
  position: absolute;
  bottom:450px;  
  left:5px;
  width:20em;
  height:40px;
  font-weight: bold;

}


#giftdiv{


  position: absolute;
  bottom:20px;  
  left:50px;
}
/* .link{

  
} */
.linkimg{

  width:450px;
  height:300px;
}

#container{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  display: -webkit-flex; 
  position:absolute;
  bottom:-550px;
  max-width: 450px;
}

.btnright{
  color:white;
  background-color: black;
  position: absolute;
 right:-990px;
 /* right:0px; */
 width:80px;
 height:80px;
 bottom:130px;
}
.btnleft{
  color:white;
  background-color: black;
  position: absolute;
  left:0px;
  width:80px;
 height:80px;
 bottom:130px;
}

.heading{
  height: 20px;
  background-color: black;
  color: white;
}

.div2{
  background-color: white;
  display: flex;
 
  flex-direction: row;

  max-width:100%;}

  .images2{
    background-color: white;
    display: flex;
   
    flex-direction: row;
  
    max-width:100%;}
  /* align-items: center; */
    /* flex-wrap: wrap; */
     /* justify-content: flex-start;  */
/* } */

