.body {
    background-color: cornsilk;
}
.d1{

    position:absolute;
    top:3720px;  
}
.i1 {
    margin: 60px;
    width: 1300px;
    height: 900px
    

}

.p1 {
    margin-left: 70px;
    top: 5px;
    text-align: left;
   font-size:xx-small;
}
.p2 {
    margin-left: 70px;
    margin-top: 2px;
    font-size: small;
    top: 5px;
   
    text-align: left;

}
.p3 {
    position: absolute;
    top:0;
    right: 0;
    font-size: xx-small;
    /*margin-left: 600px;
    
    
    text-align-last: center;*/
}
.b1 {
    margin-top: 2px;
    margin-left: 700px;
}