.i1 {
    margin: 30px;
    width: 1300px;
    height: 900px
    

}

.p1 {
    margin-left: 70px;
    top: 5px;
    text-align: left;
   font-size:xx-small;
}
.p2 {
    margin-left: 70px;
    margin-top: 2px;
    font-size: small;
    top: 5px;
   
    text-align: left;

}