.App {
    text-align: center;
    background-image: url("../images/Aesop-Homepage-Banner.jpg");
  }
  
  .buttonModal{
    height: 20px;
    background-color: black;
    color: whit
  }
  
  .leftSideDiv{
    background-color: white;
    display: flex;
   
    flex-direction: row;
  
    max-width:100%;}
  
    .rightSideDiv{
      background-color: white;
      display: flex;
     
      flex-direction: row;
    
      max-width:100%;}
    /* align-items: center; */
      /* flex-wrap: wrap; */
       /* justify-content: flex-start;  */
  /* } */